body{
    background-color: #F6F6F6;
}
h1{
    text-align: center;
    font-size: 2.4rem;
    font-family: 'Ubuntu', sans-serif;
}
.head{
    font-size: 1.1rem;
    text-align: center;
    padding-right: 10px;
    font-family: 'Merriweather', serif;
}
.edu{
    line-height: 1.7rem;
    margin-left: 10px;
}
.edu h2{
    font-size:1.5rem;
    font-family: 'Ubuntu', sans-serif;
}
.edu h3{
    font-size: 1.1rem;
    padding-left: 6px;
    margin-left: 6px;
    font-family: 'Merriweather', serif;
}
.tec{
    line-height: 1.7rem;
    margin-left: 10px;
}
.tec h2{
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
}
.tec h3{
    font-size: 1.1rem;
    padding-left: 6px;
    margin-left: 6px;
    font-family: 'Merriweather', serif;
}
.tec li{
    font-size: 1.1rem;
    list-style: none;
    padding-left: 6px;
    margin-left: 6px;
    font-family: 'Merriweather', serif;
    font-weight: 600;
}
.proj{

    line-height: 1.7rem;
    margin-left: 10px;
}
.proj h2{
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
}
.proj h3{
    font-size: 1.2rem;
    margin-left: 6px;
    padding-left: 6px;
    font-family: 'Merriweather', serif;
}
.proj p{
    font-size: 1.3rem;
    margin-left: 6px;
    padding-left: 8px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}
.line{
  width: 75%;
  border: 1px solid grey;
  margin-bottom: 35px;
}
